<h1>About</h1>
<h2>Data Sets Description</h2>
<p>In this application, the Country model represents countries sourced from a Country API, 
    providing essential details such as name, capital, region, subregion, population, 
    area, and a URL to the country's flag image. Countries have a one-to-many relationship with Cuisine,
     simulated using Faker gem data, which generates various cuisines associated with specific countries.
      Each cuisine includes attributes like name and description, tied back to its respective country
       through a foreign key relationship. Countries also have a many-to-many relationship with Language, 
       also sourced from the Country API, representing languages spoken within each country. 
       This relationship is facilitated through the CountryLanguage join model, linking countries and languages 
       based on their associations retrieved from the API.
    </p>

    <%= image_tag "cuizine.drawio.png", alt: "About Image", class: "about-image" %>