<!-- app/views/languages/show.html.erb -->
<h1><%= @language.name %></h1>

<p><strong>Language Code:</strong> <%= @language.code %></p>
<h2>Spoken in:</h2>
<ul>
  <% @language.countries.each do |country| %>
    <li><%= link_to country.name, country_path(country) %></li>
  <% end %>
</ul>

<%= link_to 'Back to languages', languages_path %>

