/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Example CSS for countries index page */
h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    margin-bottom: 20px;
    text-align: right; /* Align form elements to the right */
  }
  
  label, input[type="text"], input[type="submit"] {
    font-size: 18px; /* Increase font size */
  }
  
  table.countries-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table.countries-table th, table.countries-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table.countries-table th {
    background-color: #f2f2f2;
  }
  
  table.countries-table td {
    vertical-align: middle;
  }
  
  img.flag {
    display: block;
    margin: 0 auto;
  }

  header {
    background: linear-gradient(to right, #4facfe, #00f2fe); /* Gradient background */
    color: #fff;
    padding: 15px 0; /* Increase padding for larger header */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-brand, .nav-link {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 20px; /* Add space between links */
  }
  
  .navbar-brand:hover, .nav-link:hover {
    text-decoration: none;
    background-color: rgb(247, 13, 204);

  }
  
  